html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #f7f8fc;
}

* {
  box-sizing: border-box;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-main {
  flex: 1;
}
