.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  height: 80px;

  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logo-container h2 {
  color: #2563eb;
  font-size: 1.6rem;
  font-weight: 700;
}

.nav-link .nav-btn {
  border: none;
  color: white;
  background-color: #195cec;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: #2563eb;
}

.profile-icon {
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.profile-icon img {
  width: 60px;
  height: 60px;
}

.profile-icon:hover {
  transform: translateY(-2px);
}

/* Mobile */

@media (max-width: 768px) {
  .navbar {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    height: auto;
    min-height: 80px;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .logo-container h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 426px) {
  .navbar {
    padding: 0 auto;
    height: 50px;
    gap: 15px;
  }

  .logo-container {
    justify-content: center;
  }

  .logo {
    width: 36px;
    height: 36px;
  }

  .logo-container h2 {
    font-size: 1.2rem;
  }

  .nav-link .nav-btn {
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 500;
  }
  .profile-icon img {
    width: 45px;
    height: 45px;
  }
}
